#!/usr/bin/make -f
# debian/rules for the Debian x11proto-kb-dev package.

PACKAGE = x11proto-kb-dev

%:
	dh $@ --with autoreconf --parallel --builddirectory=build/

override_dh_auto_configure:
	dh_auto_configure -- \
		--libdir=/usr/lib \
		--docdir=\$${datadir}/doc/x11proto-kb-dev \
		--enable-specs \
		--without-fop \
		--with-xmlto

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	find debian/tmp/usr/share/doc/x11proto-kb-dev -name '*.xml' -delete
	find debian/tmp/usr/share/doc/x11proto-kb-dev -name '*.db' -delete
	dh_install --sourcedir=debian/tmp --fail-missing
